/* style.css */

body { 
  font-family: Arial, sans-serif; 
  margin: 0; 
  padding: 0; 
  background-color: #f4f4f4; 
}

.top-bar { 
  background-color: #00798c; 
  color: white;
  font-size: 16px; 
  font-weight: bold;
  height: 30px;
}
.top-bar p{
  margin-top: 5px;
}

.navbar { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
  background-color: white; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  margin: 10px;
}
.logo a{
  text-decoration: none;
  color: #00798c;
  font-weight: bold; 
  font-size: 20px;
}

.search-box { 
  flex-grow: 1; 
  max-width: 400px; 
  padding: 8px; 
  margin: 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.lang-cart { 
  display: flex; 
  align-items: center; 
  gap: 15px; 
  font-size: 18px; 
  margin-bottom: 10px;
}

.product-list { 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 20px; 
  padding: 20px;
}

.product { 
  background-color: white; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  padding: 15px; 
  text-align: center; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.product img { 
  width: 100%; 
  height: auto; 
  border-radius: 4px; 
}

.product h4 { 
  margin: 10px 0 5px; 
  color: #00798c; 
}

.product p { 
  font-size: 14px; 
  color: #555; 
  height: 40px; 
  overflow: hidden; 
}

button { 
  padding: 8px 12px; 
  margin: 5px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

button.buy { 
  background-color: #00798c; 
  color: white; 
}

.pagination { 
  text-align: center; 
  margin: 20px 0; 
}
.pagination .unable{
  background-color: grey;
}
.pagination button { 
  background-color: #00798c; 
  color: white; 
  margin: 0 10px; 
  padding: 5px 10px; 
  border-radius: 4px;
}
.pagination button a{
  text-decoration: none;
  color: white;
}
.pagination button:hover{
  background-color: grey;
}
.pagination button a:hover{
  text-decoration: underline;
}

.footer-cols { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  background-color: #f1f1f1; 
  padding: 20px;
}

.footer-cols div { 
  flex: 1 1 250px; 
  margin: 10px;
}

.footer-cols h4 { 
  margin-bottom: 10px; 
  color: black;
}

.footer-cols ul { 
  list-style: none; 
  padding: 0;
}
.footer-cols p { 
  margin-bottom: -10px;
  
}
.footer-cols ul li { 
  margin-bottom: 8px;
}

.footer-cols a{
  text-decoration: none;
  color: #333;
  font-size: 14px;
  
}

.footer-cols a:hover{
  color: #00798c;
}

.footer-bottom { 
  text-align: center; 
  font-size: 14px; 
  color: #666; 
  padding: 10px; 
  background-color: #eaeaea; 
}

@media (max-width: 600px) {
  .logo {
    margin: 10px 0;
}
  .search-box {
    width: 100%; 
    margin: 10px 0;
  }

  .lang-cart {
    margin-left: 75%;
    margin-top: -142px;
  }

  .product p { 
    height: auto;
  } 
}

